@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');
  body{
    font-family: 'Exo 2', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: ;
  }
  
/*----------------------------navbar-------------------------------------*/
.navbar {
    display: flex;
    flex-direction: column;
   
  }

  .top-navbar {
    padding: 10px;
    text-align: center;
    background-color: black;
  }

  .search-bar {
    display: inline-block;
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
  }

  .search-bar input {
    padding: 5px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
  }

  

  .bottom-navbar {
    padding: 10px 0;
    border-top: 1px solid white;
    background-color: black;

  }

 .bottom-navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }

.bottom-navbar li {
      margin-left: 500px;

    margin: 5px;
  }

 .bottom-navbar a {
    text-decoration: none;
    color: #fff;
    transition: background-color 0.2s;
    margin: 25px;
  }
   
/*-------------------------------------hero image----------------------------------------------*/

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/home.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 10px;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;

}
/*----------------------------------shopping tools-----------------------------*/
    .shopping-tools {
            text-align: center;
            padding: 20px;
           
        }

        .shopping-tools h3 {
            margin-bottom: 10px;
        }

        .shopping-tools div {
            display: inline-block;
            margin: 20px;
            text-align: center;
        }

        .shopping-tools img {
            width: 300px; 
            height: auto;
            margin-bottom: 10px; 
        }

        .shopping-tools h3 {
            margin: 10px 0;

        }

        .shopping-tools button {
            padding: 10px 20px;
            font-size: 16px;
            
        }
        .shopping-tools .content{


        }
/*--------------------------------motor text------------------------------------*/
.image-container {
      background-color: red;
            display: flex; 
            align-items: center; 
            max-width: 800px; 
            margin: 0 auto; 
        }

        .image-container img {
            max-width: 100%; 
            margin-right: 20px; 
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        }

        .text-container {
            flex: 1; 
        }

        h2 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        p {
            font-size: 16px;
        }
/*   ----------------------------------footer-------------------------------------     */
        .footer-section {
      background-color: black;
      color: white;
      padding: 20px;
      text-align: center;
      display: flex;
      justify-content: space-around; 
      flex-wrap: wrap;
     
    }

    .footer-section div {
      flex: 1;
      max-width: 300px; 
    }

    .footer-section ul {
      list-style: none;
      padding: 0;
    }

    .footer-section li {
      margin: 10px 0;
    }
    .footer-section a{
      text-decoration: none;
      color: white;
    }

    .footer__social-link {
      margin: 0 10px;
      text-decoration: none;
      color: blue; 
    }
/*---------------------------------about us----------------------------*/
    .about-section {
      background-color: black;
      color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 50px 20px;
            text-align: left;
            margin-bottom: 10px;
        }

        .about-content {
            max-width: 600px;
            margin-right: 20px;
        }

        .about-title {
            font-size: 2em;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .about-text {
            font-size: 1.2em;
        }

        .about-image {
            max-width: 400px;
            border-radius: 10px;
        }

/*       ---------------------------------------------------- */
 